.navbar {
    background: slategray;
    text-shadow: 1px 1px 2px black, 0 0 15px rgb(122, 122, 248), 0 0 2px darkblue;
    min-height: 50px;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    width: 100%;
    white-space: nowrap;
    border-bottom: solid 5px tan;
    border-radius: 0 0 20px 20px;
    box-shadow: 5px 5px 8px rgb(184, 184, 184);
}

.navbar-nav {
    flex-direction: row;
    width: 100%;
    display: -webkit-box;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit
}